body {
    font-family: Arial;
    margin: 20px;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
